<h1>Register</h1>

<form>
<fieldset>
<legend>Your Name</legend>
  <label>
    First:
    <input type="text" name="firstName" />
  </label>

  <label>
    Last:
    <input type="text" name="lastName" />
  </label>
</fieldset>

<fieldset>
  <legend>Email Address</legend>

  <label>
    Email:
    <input type="text" name="email" />
  </label>

  <br />

  <label>
    Email (confirm):
    <input type="text" name="cemail" />
  </label>
</fieldset>

<fieldset>
  <legend>Password</legend>

  <label>
    Password:
    <input type="password" name="password" />
  </label>

  <br />

  <label>
    Password (confirm):
    <input type="password" name="cpassword" />
  </label>
</fieldset>

<p>
  <input type="submit" value="Register Now"/>
</p>
</form>
