extends layout

block content
  form(action='/resetPassword',method='post')
    input(type='hidden',name='accountId',value='#{locals.accountId}')
    p
      label(for='password') New Password:
      input#password(type='password',name='password')
    p
      input(type='submit')